.sub-in input[type="text"] {
    display: inline-block;
    width: 520px;
    height: 60px;
    border-radius: 30px;
    border: 0;
    padding-left: 15px;
    background: white;
    color: black;
    font-size: 18px;
    padding-right: 105px;
}
.subscribe{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}
.sub-in input[type="text"]:focus {
    outline: 0;
}
.sub-in {
    position: relative;
   display: inline-block;
}
.submit {
    position: absolute;
    right: 0;
    top: 0;

}
.submit input[type="submit"] {
    height: 60px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 30px;
    border: 0;
    background-color: red;
    color: white;
}
.submit input[type="submit"]:focus {
    outline: 0;
}
